<p id="notice"><%= notice %></p>

<%= link_to "New Artist",new_artist_path,{:class =>'black-btn',:style=>'float:right;padding:10px;border-radius:100px'} %>
<h3><i>Artist Roster</h3></i>

<div class='row'>
  <%@artists.each do |artist|%>
    <div class='col-sm-6' >
      <a class='artist_div' href='artists/<%=artist.id%>'>
      <div class='row' style='height:10vw;margin:1vw;background-color:lightgray;border-radius:20px;padding:10px'>
        <div class='col-md-3'>
          <%= image_tag(artist.avatar.url,:style =>"width:6vw;") %>
        </div>
        <div class='col-md-5'>
          <h4><b><%=artist.name%></b></h4>
        </div>
        <div class='col-md-4'>
          <H6><b><%=artist.events.count%> upcoming events</b></H6>
          <h6><b><%=artist.projects.count%> current projects</b></h6>
        </div>
      </div>
    </a>
    </div>
  <%end%>
</div>
<br>

<style>
a.artist_div:hover{
  color:#3c3b3b !important;
}
</style>
